<header style="height: 80px; position: fixed; top:0; width: 100%; z-index: 100;">
    <nav class="navbar bg-dark border-bottom border-body navbar-expand-md" data-bs-theme="dark">
        <div class="container">
            <div class="logo col-8 col-sm-6 col-md-5 col-lg-4">
                <img src="https://res.cloudinary.com/dddjj3cfl/image/upload/v1715998969/logoApp_mi3d8y.png" alt="Anime Hub Logo">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#clientNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="clientNavbar">
                <div class="navbar-nav d-flex justify-content-end w-100 align-items-center">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="auth-page">
    <div class="login-container col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3">
        <div class="login-form text-white">
            <h2>Login</h2>
            <div class="mb-2 text-start p-1">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control login-input" [(ngModel)]="userInfo.username">
            </div>
            <div class="mb-2 text-start p-1">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control login-input" [(ngModel)]="userInfo.password">
            </div>
            <button class="login-button btn my-4" (click)="LoginUser()">Login</button>
        </div>
        <span class="text-white">Don't have an account yet? <a [routerLink]="['/auth/signup']">Register</a></span>
    </div>
</div>
