
.airing-box{
    background-color: #1c3d11;
    border-color: #317b18;
    border-style: solid;
    color: #a1ff82;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.finished-box{
    background-color: #5f1414;
    border-color: #be1414;
    border-style: solid;
    color: #ff8e8e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.title{
    background-color: rgb(31, 95, 148);
    border: 5px solid #57b6ec;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    h4{
        padding-left: 2em;
    }
}


.description-section{
    background-color: #1f1d2e;
    border-radius: 10px;
    padding: 1.5em;
    h3{
        font-family: 'Courier New', Courier, monospace;
    }
}

.statistics{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    background-color: #362d40;
    
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
}

.statistics p{
    color: #ecdb8c;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.favourite{
    padding: 15px;
    font-size: 1.1em;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 5px solid #df2b2b;
    color: #df2b2b;
    background-color: #d6cec6;
}